/* universal selector */
/* * {
    color: blue;
} */


/* element selector */
h2 {
    color: green;
}


/* class selector */
.error {
    color: rgba(244, 35, 12, 0.629);
}

.success {
    color: green;
}


/* id selector */
#test {
    color: purple;
}

/* background-color */
.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}