/* universal selector */
/* 
* {
    color: blue;
} 
*/


/* element selector */
h2 {
    color: green;
}


/* class selector */
.error {
    color: rgba(244, 35, 12, 0.629);
}

.success {
    color: green;
}


/* id selector */
#test {
    color: purple;
}

/* background-color */
.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

/* font-family */
/*
.font-styles {
    font-family: sans-serif;
}
*/

/* font */
.font-styles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;    
    text-decoration: underline;
}

/* text */
.message {
    color: red;
    background-color: yellow;
    text-align: center;
    line-height: 4;
    letter-spacing: 4px;
    word-spacing: 20px;
}

/* list */
/*
ul {
    list-style-type: circle;
}
*/

/* important: Remove the bullets and unwanted space  */
/*
ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}
*/

ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

/* box model */
.box-model {
    border: 1px solid red;
    height: 50px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

/* cascade */
h4 {
    color: red;
}

h4 {
    color: blue;
}

/* specificity */

/*  A class selector is more specific than an element selector  */
/*
h5 {
    color: red;
}

.sub-heading {
    color: blue;
}
*/

.sub-heading {
    color: blue;
}

h5 {
    color: red;
}

/* An id selector which is even more specific than an element selector  */

#title {
    color: orange;
}


/* cascade / specificity with !important */
h6 {
    color: red !important;
}

.test {
    color: blue;
}

/* inheritance */
.inheritance {
    color: red;
    font-family: 'Segoe UI';
    font-size: 20px;
}

/* table */
/*
th, td {
    border: 1px solid red;
}   
*/

/*
th, td {
    border: 1px solid red;
    padding: 15px;
}
*/

th, td {
    border-bottom: 1px solid red;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

td {
    text-align: center;
}

/*
td {
    text-align:center;
    height: 50px;
    vertical-align: bottom;
}
*/

/* display */
/*
.content-1 {
    border: 1px solid red;
}

.content-2 {
    border: 1px solid blue;
}
*/

/*
.content-1 {
    border: 1px solid red;
    display: inline;
}

.content-2 {
    border: 1px solid blue;
    display: block;
}
*/

.content-1 {
    border: 1px solid red;
    display: inline;
}

.content-2 {
    border: 1px solid blue;
    display: none;
}